In [3]:
!pip install openpyxl

Collecting openpyxl

WARNING: You are using pip version 20.2.3; however, version 22.0.3 is available.
You should consider upgrading via the 'c:\users\chetan kanchan\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9

In [4]:
# importing the module
import pandas

In [5]:
# reading the files
f1 = pandas.read_excel("C:/Users/Chetan Kanchan/Desktop/Python/Python test/Data-1.xlsx")
f2 = pandas.read_excel("C:/Users/Chetan Kanchan/Desktop/Python/Python test/data-2.xlsx")

In [9]:
f1[["Name","Address","State","zip"]]

     Name      Address        State    zip
0     Raj      123 ave  maharashtra  10000
1  chetan      356 ste    karnataka  20000
2     app     434 dddi    karnataka  30000
3     niz  22  9 cross    karnataka  40000

In [11]:
f2[["Name","Address","State","zip"]]

     Name      Address        State    zip
0     Raj      123 ave  maharashtra  10000
1  chetan      356 ste    karnataka  20000
2     app     434 dddi    karnataka  30000
3     niz  22  9 cross    karnataka  40000

In [13]:
f3=f1[["Name","Address","State","zip"]].merge(f2[["Name","Address","State","zip"]],on ="Name", how="left")

In [6]:

# merging the files
f3 = f1[["Name","Address","City","State","zip"]].merge(f2[[["Name","Address","City","State","zip"]], on="Name",how="left")

SyntaxError: invalid syntax (Temp/ipykernel_13380/2318465501.py, line 2)

In [15]:
# creating a new file
f3.to_excel("C:/Users/Chetan Kanchan/Desktop/Python/Python test/Results.xlsx", index=False)